@font-face {
  font-family: "Bingobongo";
  src: url("fonts/Bingobongo-Cyr.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Montserrat", sans-serif;
}

.gift {
  width: 100%;
  min-height: 100vh;
  background: url("../img/page-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px !important;
}
.gift img {
  max-width: 100%;
}
.gift-logo {
  width: 200px;
  margin-bottom: 50px;
}
.gift-line1 {
  max-width: 800px;
  margin-bottom: 25px;
}
.gift-line2 {
  max-width: 625px;
  margin-bottom: 75px;
}
.gift-inner {
  display: flex;
  justify-content: center;
}
.gift-inner__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 625px;
  width: 100%;
}
.gift-inner__img {
  position: relative;
}
.gift-inner__img img {
  max-width: 400px;
  width: 400px;
}
.gift-inner__img .gift-img2 {
  transform: translateX(50px);
}
.gift-header {
  font-family: "Bingobongo", sans-serif;
  font-size: 26px;
  line-height: 32px;
  color: #e7ce8e;
  text-align: center;
}
.gift-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 25px;
  max-width: 300px;
  width: 100%;
}
.gift-link {
  height: 120px;
  width: 120px;
  display: flex;
}
.gift-link:hover {
  transform: translateY(-5px);
}
.gift-separator {
  height: 2px;
  width: 100%;
  background: #e7ce8e;
}
.gift-hint {
  font-family: "Bingobongo", sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #e7ce8e;
  text-align: center;
  margin-top: 25px;
}

@media screen and (max-width: 1366px) {
  .gift {
    padding: 15px;
  }
  .gift-logo {
    width: 150px;
    margin-bottom: 40px;
  }
  .gift-line1 {
    max-width: 700px;
    margin-bottom: 20px;
  }
  .gift-line2 {
    max-width: 525px;
    margin-bottom: 65px;
  }
  .gift-inner__main {
    max-width: 525px;
  }
  .gift-inner__img img {
    width: 300px;
  }
  .gift-header {
    font-size: 22px;
    line-height: 28px;
  }
  .gift-logos {
    padding: 40px 0 20px;
    max-width: 250px;
  }
  .gift-link {
    height: 100px;
    width: 100px;
  }
  .gift-hint {
    font-size: 20px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1100px) {
  .gift {
    padding: 15px;
  }
  .gift-logo {
    width: 140px;
    margin-bottom: 35px;
  }
  .gift-line1 {
    max-width: 650px;
    margin-bottom: 20px;
  }
  .gift-line2 {
    max-width: 475px;
    margin-bottom: 55px;
  }
  .gift-inner__main {
    max-width: 475px;
  }
  .gift-inner__img img {
    width: 250px;
  }
  .gift-header {
    font-size: 18px;
    line-height: 24px;
  }
  .gift-logos {
    padding: 30px 0 20px;
    max-width: 200px;
  }
  .gift-link {
    height: 75px;
    width: 75px;
  }
  .gift-hint {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 768px) {
  .gift-inner {
    position: relative;
    padding-top: 300px;
  }
  .gift-inner__img {
    order: 1;
    position: static;
  }
  .gift-inner__img .gift-img1 {
    position: absolute;
    top: 0;
    right: 100px;
  }
  .gift-inner__img .gift-img2 {
    position: absolute;
    top: 30px;
    right: -75px;
    transform: none;
  }
  .gift-inner__main {
    width: 100%;
    order: 2;
    margin-right: 0;
  }
}
@media screen and (max-width: 550px) {
  .gift {
    padding: 15px;
  }
  .gift-logo {
    width: 100px;
    margin-bottom: 35px;
  }
  .gift-line1 {
    max-width: 450px;
    margin-bottom: 20px;
  }
  .gift-line2 {
    max-width: 350px;
    margin-bottom: 55px;
  }
  .gift-inner {
    padding-top: 240px;
  }
  .gift-inner__main {
    max-width: 475px;
  }
  .gift-inner__img img {
    width: 200px;
  }
  .gift-inner__img .gift-img2 {
    right: -30px;
  }
  .gift-header {
    font-size: 18px;
    line-height: 24px;
    position: relative;
  }
  .gift-header:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: -500px;
    height: 2px;
    width: 1000px;
    background: #e7ce8e;
  }
  .gift-logos {
    padding: 40px 0 20px;
    max-width: 175px;
  }
  .gift-link {
    height: 75px;
    width: 75px;
  }
  .gift-hint {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
  }
}
.modal {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 2px;
  background: url("../img/modal-bg.jpg") no-repeat center;
  background-size: cover;
  z-index: 999;
  padding: 25px 15px;
  display: none;
}
.modal img {
  max-width: 100%;
}
.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 40px;
  background: url("../img/close-button.png") no-repeat center;
  background-size: contain;
  opacity: 0.7;
}
.modal-close:hover {
  opacity: 1;
  transform: rotate(3deg);
}
.modal-logo {
  max-width: 300px;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.modal-logo img {
  max-height: 100%;
}
.modal-header {
  font-size: 22px;
  line-height: 26px;
  color: #e7ce8e;
  margin-bottom: 15px;
  text-align: center;
}
.modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 15px;
}
.modal-form__inp {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding: 5px 20px;
  height: 35px;
  max-width: 300px;
  width: 100%;
  border-radius: 50px;
  background: #fff;
  border: 2px solid #fff;
}
.modal-form__inp:focus {
  border-color: #e7ce8e;
}
.modal-form__btn {
  border: none;
  height: 35px;
  width: 55px;
  background: url("../img/btn.png") no-repeat center;
  background-size: contain;
}
.modal-hint {
  font-size: 18px;
  line-height: 22px;
  color: #e7ce8e;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .modal {
    left: 15px;
    right: 15px;
    width: auto;
    transform: none;
  }
  .modal-close {
    height: 20px;
    width: 30px;
    top: 10px;
    right: 10px;
  }
  .modal-header {
    font-size: 16px;
    line-height: 18px;
  }
  .modal-hint {
    font-size: 14px;
    line-height: 18px;
  }
}
.mail {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  z-index: 5;
}

/*# sourceMappingURL=main.css.map */
